@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;

  color: #221f3b;

  background-color: #101010;
  /* background-color: black; */
}

.window-img {
  background-image: url("../public/images/bg.gif");
  background-size: cover;
  /* mask-image: url("../public/images/bg.gif");
  mask-size: cover;
  mask-repeat: repeat; */
}

.train {
  animation: "train-anim" infinite linear;
}

@keyframes train-anim {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
